.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #03a8bb;
    font-size: 30px;
    min-height: 80px;
}

li {
    min-width: 80px
}

.active {
    color: white;
}

.dropdown-content {
    display: none;
    font-size: 24px;
    list-style-type: none;
    z-index: 1;
    background-color: #03a8bb;
    
    
  }
  .open {
    .dropdown-content {
        display: flex;
        flex-direction: column;
        background-color: #03a8bb;
        padding: 2%;
    }
}

.icon {
    display: none;
}

@media screen and (max-width: 640px) {
    .nav-list li:not(:first-child) {
        display: none;
    }
    .section__nav a.icon {
    display: block;
    }
    .nav-list:first-child {
        justify-content: flex-end;
        padding: 3%;
    }
    .nav-list.responsive li {
        float: none;
        display: block;
        text-align: right;
      }
    .nav-list.responsive {
        display: block;
    }
    ul {
        display: block;        
    }
    .open {
        .dropdown-content {
            display: block;
            background-color: #03a8bb;
            padding: 2%;
            align-self: flex-end;
        }
    }
}