body {
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.5;
}

main {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.section {
    margin: 3%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

button  {
    padding: 2%;
    background-color: rgb(83, 79, 79);
    border-radius: 15%;
    a {
        color: white;
    }
}

a {
    text-decoration: none;
}

a:hover {
    background-color: burlywood;
}

.small-text {
    color:rgb(83, 79, 79)
}
