@import 'main';
@import 'footer';
@import 'header';

.section {
    background-color: white;
    padding: 2% 5% 3% 5%;
}

.section__heading {
    text-align: center;
}

.section__facts {
    display: flex;
    max-width: 850px;
    width: 100%;
    margin: auto;
}

.section__facts__content {
    width: 60%;
    margin-right: 0;
}

.section__facts__img {
    width: 40%;
    margin-left: 0;
    padding: 0
}

.kicki {
    max-width: 100%;
    width: 100%;
}

.section__fun-fact, .section__qualities {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section__fun-fact__like, .section__fun-fact__dislike {
    max-width: 30%;
    width: 100%;
}

.colors {
    max-width: 100%;
    width: 100%;
}

.section__more {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section__more__home, .section__more__work, .section__more__code {
    max-width: 40%;
    width: 100%;
}

.section__qualities__pros, .section__qualities__cons {
    max-width: 30%;
    width: 100%;
}

@media screen and (max-width:858px) {
    .section__facts__img {
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .section__facts {
        flex-direction: column;
        align-items: center;
    }
    .section__fun-fact, .section__more, .section__qualities {
        flex-direction: column;
        align-items: center;
    }

    .section__more__home, .section__more__work, .section__more__code {
        max-width: 80%;
        width: 100%;
    }

    .section__fun-fact__like, .section__fun-fact__dislike {
        max-width: 80%;
        width: 100%;
    }

    .section__qualities__pros, .section__qualities__cons {
        max-width: 80%;
        width: 100%;
    }

}

@media screen and (max-width:500px) {
    .section__facts__content {
        width: 80%;
    }
}