@import 'footer';
@import 'header';
@import 'main';




.section__welcome, .section__edu {
    background-color: white;
    padding: 0% 5% 3% 5%;
    border-radius: 0.5%;
}

.section__start {
    text-align: center;
}
.section__me {
    background-image: url(../images/notebook.jpg);
    background-size: cover;
    border-radius: 1%;
}

.section__me__content {
    max-width: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0% 5% 3% 5%;
    border-bottom-left-radius: 1%;
    border-top-left-radius: 1%;
}

img { 
    max-width: 30%;
    width: 100%;
}

.img-me {
    border-radius: 30%;
    max-width: 200px;
}

.section__img {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-woman {
    border-radius: 50%;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.section__edu button {
    width: 200px;
    height: 80px;
}
.section__edu-sundsgarden {
    float: left;
    text-align: center;
}
.section__edu-folkuniversitetet {
    float: right;
    text-align: center;
}

.test-text {
    font-style: italic;
}

.section__quote {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 90%;
    width: 800px;
    margin: 5% auto;
}

.section__quote h3 {
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;
}

.section__quote button {
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    max-width: 50%;
    align-self: center;
    margin: 2%;
}

.quote {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 20px auto;
    max-width: 600px;
}

.author {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 10px;
    max-width: 600px;
    margin: 5% auto;
}



@media screen and (max-width:992px) {
    .section__me__content {
        max-width: 45%;
    }
    .section__me__content-img {
        align-self: center;
    }
}

@media screen and (max-width:600px) {
    .section__me {
        background-image: none;
    }
    .section__me__content {
        max-width: 90%;
    }
}
