main {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

body {
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}